.tabs {
  display: block;
  background: #EFF1F4;
  padding: 36px var(--ifm-pre-padding) var(--ifm-pre-padding) var(--ifm-pre-padding);

  .tabHead {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .tabDesc {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.tabBox {
  display: flex;
  background: #EFF1F4;
  padding: 0 var(--ifm-pre-padding);
}

.tabItem {
  cursor: pointer;
  font-size: 14px;
  color: #121B3A;
  margin: 0 8px;
  padding-bottom: 5px;

  &:first-child {
    margin-left: 0;
  }

  a {
    color: #121B3A;
  }

  a:hover {
    text-decoration: none;

  }

  &:hover, &.active {
    a{
      color: var(--ifm-color-primary);
    }
    border-bottom: 2px solid var(--ifm-color-primary);
  }
}
