.tabs{
  display: block;
  height: 260px;
  background: #eef1f4;
  padding: var(--ifm-pre-padding);
  .tabHead{
    font-size: 40px;
    font-weight: bold;
  }
  .tabDesc{
    font-size: 13px;
  }
}
.tabBox{
  display: flex;

}
.tabItem{
  cursor: pointer;
  &.active{
    border-bottom: 2px solid red;
  }
}